@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6750a4;
    --color-primary-content: #ffffff;
    --color-secondary: #625b71;
    --color-secondary-content: #ffffff;
    --color-tertiary: #7d5260;
    --color-tertiary-content: #ffffff;
    --color-error: #b3261e;
    --color-error-content: #ffffff;
    --color-background: #fffbfe;
    --color-background-content: #1c1b1f;
    --color-surface: #fffbfe;
    --color-surface-content: #1c1b1f;
  }

  .dark {
    --color-primary: #d0bcff;
    --color-primary-content: #381e72;
    --color-secondary: #ccc2dc;
    --color-secondary-content: #332d41;
    --color-tertiary: #efb8c8;
    --color-tertiary-content: #492532;
    --color-error: #f2b8b5;
    --color-error-content: #601410;
    --color-background: #1c1b1f;
    --color-background-content: #e6e1e5;
    --color-surface: #1c1b1f;
    --color-surface-content: #e6e1e5;
  }
}
