@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6750A4;
    --color-primary-content: #FFFFFF;
    --color-secondary: #625B71;
    --color-secondary-content: #FFFFFF;
    --color-tertiary: #7D5260;
    --color-tertiary-content: #FFFFFF;
    --color-error: #B3261E;
    --color-error-content: #FFFFFF;
    --color-background: #FFFBFE;
    --color-background-content: #1C1B1F;
    --color-surface: #FFFBFE;
    --color-surface-content: #1C1B1F;
  }

  .dark {
    --color-primary: #D0BCFF;
    --color-primary-content: #381E72;
    --color-secondary: #CCC2DC;
    --color-secondary-content: #332D41;
    --color-tertiary: #EFB8C8;
    --color-tertiary-content: #492532;
    --color-error: #F2B8B5;
    --color-error-content: #601410;
    --color-background: #1C1B1F;
    --color-background-content: #E6E1E5;
    --color-surface: #1C1B1F;
    --color-surface-content: #E6E1E5;
  }
}
